click==7.1.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
commonmark==0.9.1; python_version >= "3.6" and python_version < "4.0"
dataclasses==0.8; python_version >= "3.6" and python_version < "3.7"
langdetect==1.0.8
name-that-hash==1.8.0; python_version >= "3.6" and python_version < "4.0"
pygments==2.8.1; python_version >= "3.6" and python_version < "4.0"
pyyaml==5.4.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
rich==10.1.0; python_version >= "3.6" and python_version < "4.0"
six==1.15.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
typing-extensions==3.10.0.0; python_version >= "3.6" and python_version < "4.0"
